.header{
  background-color: white;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo{
  align-self: center;
}

.header__navigation{
  display: flex;
}